html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
}
.top, .header {
  background-color: blue;
  height: 20%;
}

.wrapper, .contents {
  height: 100%;
}

.nav {
  background-color: yellow;
  float: left;
  width: 20%;
  height: 100%;
  /* position: absolute; */
}

.section {
  background-color: skyblue;
  float: right;
  width: 80%;
  height: 100%;
  /* position: relative; */
}

.footer {
  height: 20%;
  background-color: pink;
}
